@import "tailwindcss";
@import "@kadoui/css";

@theme {
  --font-*: initial;
  --font-geist: var(--font-geist);

  --color-*: initial;
  --color-background: #efefef;
  --color-background-thick: #dfdfdf;
  --color-foreground: #151515;
  /* You can add any colors */

  --color-palette: var(--color-foreground);
  --color-brush: var(--color-background);
}

[data-theme="dark"] {
  --color-background: #151515;
  --color-background-thick: #202020;
  --color-foreground: #fafafa;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* If you add a color, please add its palette as well */
@utility palette-background {
  --color-palette: var(--color-background);
  --color-brush: var(--color-foreground);
}

@utility palette-background-thick {
  --color-palette: var(--color-background-thick);
  --color-brush: var(--color-foreground);
}

@utility palette-foreground {
  --color-palette: var(--color-foreground);
}

@layer base {
  html {
    @apply font-geist;
  }
}

@utility heading {
  @apply text-2xl md:text-5xl font-black text-center -tracking-tight uppercase;
}

@utility title {
  @apply text-lg md:text-xl font-bold;
}