@import "tailwindcss";
@import "@kadoui/css";

@theme {
  --font-*: initial;
  --font-geist: var(--font-geist);

  --color-*: initial;
  --color-background-thin: #ffffff;
  --color-background: #efefef;
  --color-background-thick: #dfdfdf;
  --color-foreground: #151515;
  /* You can add any colors */

  --color-palette: var(--color-foreground);
  --color-brush: var(--color-background);

  --radius-child: 0.5rem; /* lg in tailwind */
  --radius-parent: 0.75rem; /* xl in tailwind */
}

[data-theme="dark"] {
  --color-background-thin: #202020;
  --color-background: #151515;
  --color-background-thick: #101010;
  --color-foreground: #fafafa;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* If you add a color, please add its palette as well */
@utility palette-background {
  --color-palette: var(--color-background);
  --color-brush: var(--color-foreground);
}

@utility palette-foreground {
  --color-palette: var(--color-foreground);
}

@layer base {
  html {
    @apply font-geist;
  }
}

@utility heading {
  @apply text-5xl font-black text-center -tracking-tight uppercase;
}
