@import "tailwindcss";

@font-face {
  font-family: "vazir";
  src: url("/fonts/vazir.woff2");
  font-weight: 100;
}

@font-face {
  font-family: "vazir-bold";
  src: url("/fonts/vazir-bold.woff2");
}

@font-face {
  font-family: "vazir-black";
  src: url("/fonts/vazir-black.woff2");
}

@layer base {
  html {
    font-family: "vazir";
    scroll-behavior: smooth;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) transparent;
  }

  a,
  span,
  label {
    display: inline-block;
  }

  button {
    cursor: pointer;
  }
}

@utility vazir-bold {
  font-family: "vazir-bold";
}

@utility vazir-black {
  font-family: "vazir-black";
}

@utility row-items {
  @apply flex items-center;
}

@utility center-items {
  @apply flex items-center justify-center;
}
