@utility btn {
  --bg-color: var(--color-foreground);
  --fr-color: var(--color-background);

  @apply px-5 h-10 text-base gap-3 rounded-lg center-items transition-all ring-4 ring-transparent active:scale-90 disabled:opacity-50 disabled:cursor-not-allowed;
}

@utility btn-background {
  --bg-color: var(--color-background);
  --fr-color: var(--color-foreground);
}

@utility btn-danger {
  --bg-color: var(--color-danger);
  --fr-color: var(--color-background);
}

@utility btn-success {
  --bg-color: var(--color-success);
  --fr-color: var(--color-background);
}

@utility btn-warning {
  --bg-color: var(--color-warning);
  --fr-color: var(--color-background);
}

@utility btn-fill {
  @apply bg-[var(--bg-color)]
  text-[var(--fr-color)]
  hover:bg-[color-mix(in_oklab,var(--bg-color)90%,transparent)]
  focus:ring-[color-mix(in_oklab,var(--bg-color)10%,transparent)];
}

@utility btn-outline {
  @apply border
  border-[var(--bg-color)]
  text-[var(--bg-color)]
  hover:bg-[var(--bg-color)]
  hover:text-[var(--fr-color)]
  focus:ring-[color-mix(in_oklab,var(--bg-color)10%,transparent)];
}

@utility btn-soft {
  @apply bg-[color-mix(in_oklab,var(--bg-color)10%,transparent)]
  text-[var(--bg-color)]
  hover:bg-[color-mix(in_oklab,var(--bg-color)20%,transparent)]
  focus:ring-[color-mix(in_oklab,var(--bg-color)10%,transparent)]
  focus:bg-transparent;
}

@utility btn-ghost {
  @apply text-[var(--bg-color)]
  hover:bg-[color-mix(in_oklab,var(--bg-color)10%,transparent)]
  focus:ring-[color-mix(in_oklab,var(--bg-color)10%,transparent)]
  focus:hover:bg-transparent;
}
