/* Input wrapper */
@utility input {
  @apply ring-4 ring-transparent w-full f-align px-5 rounded-lg h-10 text-base gap-3 cursor-pointer transition-all relative disabled:opacity-50 disabled:cursor-not-allowed;

  &:has(textarea) {
    @apply h-[33vh] p-5;
  }
}

/* Variants */
@utility input-fill {
  @apply input; /* Extend */

  @apply bg-[var(--1st-color-1)]
  text-[var(--2nd-color-1)]
  focus-within:ring-[var(--1st-color-5)];
}

@utility input-outline {
  @apply input; /* Extend */

  @apply border
  text-[var(--1st-color-1)]
  border-[var(--1st-color-1)]
  focus-within:ring-[var(--1st-color-5)];
}

@utility input-soft {
  @apply input; /* Extend */

  @apply bg-[var(--1st-color-5)]
  text-[var(--1st-color-1)]
  focus-within:bg-transparent
  focus-within:ring-[var(--1st-color-5)];
}

@utility input-ghost {
  @apply input; /* Extend */

  @apply text-[var(--1st-color-1)]
  focus-within:ring-[var(--1st-color-5)];
}

/* Main field */
@utility input-field {
  @apply bg-transparent w-full h-full resize-none;
}
